<app-navbeflogin></app-navbeflogin>
<div class="container">
  <h5>Please Provide Your Personal Details</h5>

  <form [formGroup]="photographBloodGroupForm" (submit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="photograph" class="mb-2">
        <i class="fas fa-image"></i> Photograph
      </label>
      <input
        type="file"
        class="form-control"
        id="photograph"
        formControlName="photograph"
        accept="image/*"
        (change)="onFileSelected($event)"
        required
      />

      <div id="imagePreview"></div>
    </div>

    <div class="form-group">
      <label for="bloodGroup" class="mb-2">
        <i class="fas fa-tint"></i> Blood Group
      </label>
      <input
        type="text"
        class="form-control"
        id="bloodGroup"
        placeholder="Enter your blood group name"
        formControlName="bloodGroup"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary btn-block" routerLinkActive="active">
      Continue
    </button>
  </form>
</div>
