<app-navbar></app-navbar>
<!-- <div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="about-section">
        <h2 class="text-center mb-4">About Us</h2>
        <p class="about-description">
          Online Marriage Planner.com is one of India's leading Marriage Planner websites that has helped lakhs of members find their perfect life partner. We believe choosing a life partner is a big and important decision, and hence work towards giving a simple and secure matchmaking experience for you and your family. Each profile registered with us goes through a manual screening process before going live on site; we provide superior privacy controls for Free; and also verify contact information of members. You can register for Free and search according to your specific criteria on age, height, community, profession, income, location and much more- on your computer, tablet or mobile. Regular custom mails and notifications make the process easier and take you closer to your Jeevansathi!.
        </p>
        <p class="about-description">
          Our core values include trust, integrity, and empathy. We understand
          that finding the right partner is a significant decision, and we
          strive to provide a safe and reliable platform for our users. With our
          extensive database and personalized matchmaking services, we aim to
          make your search easier and more enjoyable.
        </p>
        <p class="about-description">
          Join us today and let us help you find your perfect match. Your
          happiness is our success!
        </p>
      </div>
    </div>
  </div>
</div> -->

<section class="about pb-5 " id="about">
  <div class="container">
    <div class="text-center mb-5">
      <h1 >About <span class="text-success">Us</span></h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-12"
    
      >
        <h1>What do you <span class="text-success">want to know</span></h1>
        <p class="p-2">
          Online Marriage Planner.com is a trusted platform for finding your
          life partner. We prioritize security, privacy, and personalized
          matchmaking to simplify your search. Join us for a reliable and
          enjoyable matchmaking experience..
        </p>

        <button type="button" class="btn btn-success mb-5">Know More</button>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Our Story
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                "Founded with love and commitment, we aim to connect hearts and
                create lasting bonds. Join us on this journey of love and
                companionship."
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Our Mission
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                "Dedicated to facilitating meaningful connections, we strive to
                empower individuals to find their perfect match and build
                fulfilling relationships."
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Our Vision
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                "We envision a world where every soul finds its mate. Through
                innovation and compassion, we're redefining the path to happily
                ever after."
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center about-img"
      >
        <img src="../../../../../assets/coupl3.jpg" alt="" />
      </div>
    </div>
  </div>
</section>