<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-picture">
          <img src="../../../../../../assets/groom1.jpg" alt="Profile Picture">
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-details">
          <h3 class="mt-2">Rahul Sharma</h3>
          <ul class="text">
            <li><strong>Nick Name:</strong> Rahul</li>
            <li>
              <strong> Date of Birth:</strong> January 1, 1995
              <strong>(26 yr)</strong>
            </li>
            <li><strong>Mobile:</strong> +91 8665078901</li>
            <li>
              <strong>Educational Career:</strong> BTech CSE
            </li>
            <li><strong>Family Status:</strong> Middle Class</li>
            <li><strong>Family Type:</strong> Nuclear</li>
            <li><strong>Father Name:</strong> Swayam Sharma</li>
            <li><strong>Income:</strong> Rs 11,50,000 per annum</li>
            <li><strong>Blood Group:</strong> O+</li>
            <!-- Add more details as needed -->
          </ul>
  
          <button type="button" class="btn btn-success ">Chat</button>
          <button type="button" class="btn btn-warning ms-2">Intrested</button>
        </div>
      </div>
    </div>
  </div>
