<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-picture">
        <img
          [src]="'data:image/jpeg;base64,' + user.personalInfo.photograph"
          alt="Profile Picture"
        />
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-details">
        <h3 class="mt-2 mb-3">{{ user.firstName }} {{ user.lastName }}</h3>
        <ul class="text">
          <li><strong>Nick Name:</strong> {{ user.firstName }}</li>

          <!-- <li><strong> Date of Birth :</strong> -- -- -- </li> -->

          <li><strong>Age: </strong> {{ user.age }} Yrs</li>

          <!-- <li><strong>Mobile:</strong> +91 6345678901</li> -->

          <li><strong>Gender:</strong> {{ user.gender }}</li>
          <li>
            <strong>Educational Career:</strong>
            {{ user.educationCareer.educationLevel }}
          </li>
          <li>
            <strong>Educational Field:</strong>
            {{ user.educationCareer.educationField }}
          </li>
          <li>
            <strong>Family Status:</strong> {{ user.familyInfo.familyStatus }}
          </li>
          <li>
            <strong>Family Type:</strong> {{ user.familyInfo.familyType }}
          </li>
          <li>
            <strong>Father Name:</strong> {{ user.familyInfo.fatherName }}
          </li>
          <!-- <li><strong>Income:</strong> Rs 5,50,000 per annum</li> -->
          <li>
            <strong>Blood Group:</strong> {{ user.personalInfo.bloodGroup }}
          </li>
        </ul>

        <!-- <button type="button" class="btn btn-success" routerLink="/chatform" [disabled]="chatBtnDisabled">
          <i class="fa fa-message me-2"></i>Chat
        </button> -->

        <form id="interestForm" style="display:none;">
          <input type="text" name="loggedInUser" [value]="loggedInUser" />
          <input type="text" name="firstName" [value]="user?.firstName" />
          <input type="text" name="lastName" [value]="user?.lastName" />
          <!-- <input type="text" name="email" [value]="user?.email" /> -->
        </form>


       <button type="button" class="btn btn-success" (click) = "OnChatClick()">
          <i class="fa fa-message me-2"></i>Chat
        </button>
        <button type="button" class="btn btn-danger ms-2" [disabled]="interestBtnDisabled" (click)="onClick($event)">
          {{intrestButton}} <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>
