body {
  /* background-color: #f8f9fa; */
  font-family: Arial, sans-serif;
}
.booking-form {
  /* max-height: 85vh; */
  /* overflow-y: auto; */
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #ffffffab;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h3{
  font-weight: bold;
}

.form-level{
  font-weight: bold;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  background: linear-gradient(45deg, rgb(30, 10, 76), rgb(58, 14, 162));
}


.btn:hover{
  background: linear-gradient(45deg, rgb(58, 14, 162), rgb(30, 10, 76));
}
