.login-container {
  align-items: center;
  color: rgb(30, 10, 76);
  max-width: 400px;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffffab;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-left: 15vw;
}

.login-container h3 {
  color: rgb(30, 10, 76);
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.form-group {
  margin-bottom: 20px;
}

.item{
  
  text-align: center;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  /* padding: 10px; */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(30, 10, 76), rgb(58, 14, 162));
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.form-group input[type="submit"]:hover {
  background: linear-gradient(45deg, rgb(58, 14, 162), rgb(30, 10, 76));
}
.form-level{
  font-weight: bold;
}