<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-picture">
         <img [src]="'data:image/jpeg;base64,' + user.personalInfo.photograph" alt="Profile Picture" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-details">
        <h3 class="mt-2">Meera Sharma</h3>
        <ul class="text">
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            <p>Blood Group: {{ user.bloodGroup }}</p>
            <p>Age: {{ user.age }}</p>
            <p>Gender: {{ user.gender }}</p>
            <h3>Education</h3>
            <p>Level: {{ user.educationCareer.educationLevel }}</p>
            <p>Field: {{ user.educationCareer.educationField }}</p>
            <h3>Family</h3>
            <p>Status: {{ user.familyInfo.familyStatus }}</p>
            <p>Type: {{ user.familyInfo.familyType }}</p>
            <p>Father's Name: {{ user.familyInfo.fatherName }}</p>
        </ul>

        <button type="button" class="btn btn-success ">Chat</button>
        <button type="button" class="btn btn-warning ms-2">Intrested</button>
      </div>
    </div>
  </div>
</div>