<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-picture">
        <img
          src="../../../assets/ca276a8984f445731beef2a57a59970c.jpg"
          alt="Profile Picture"
        />
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-details">
        <h3 class="mt-2">Meera Sharma</h3>
        <ul class="text">
          <li><strong>Nick Name:</strong> Meera</li>
          <li>
            <strong> Date of Birth:</strong> January 1, 2001
            <strong>(23 yr)</strong>
          </li>
          <li><strong>Mobile:</strong> +91 6345678901</li>
          <li>
            <strong>Educational Career:</strong> Bachelor's in Engineering
          </li>
          <li><strong>Family Status:</strong> Middle Class</li>
          <li><strong>Family Type:</strong> Nuclear</li>
          <li><strong>Father Name:</strong> Ranjan Sharma</li>
          <li><strong>Income:</strong> Rs 5,50,000 per annum</li>
          <li><strong>Blood Group:</strong> A+</li>
          <!-- Add more details as needed -->
        </ul>

        <button type="button" class="btn btn-success ">Chat</button>
        <button type="button" class="btn btn-warning ms-2">Intrested</button>
      </div>
    </div>
</div>
