<app-navbar></app-navbar>

<section class="services py-5" id="services">
  <div class="container">
    <div class="text-center my-5">
      <h1>Our<span class="text-light"> Services</span></h1>
      <hr class="w-25 m-auto" />
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i
              class="fa fa-handshake p-2 mb-2 text-white rounded"
            ></i>
            <h5 class="card-title my-3">Personalized Matchmaking</h5>
            <p class="card-text">
              "Utilize our advanced algorithms to find compatible partners based
              on your preferences, ensuring a personalized matchmaking
              experience that leads to meaningful relationships."
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i
              class="fa fa-shield-alt p-2 mb-2 text-light rounded"
            ></i>
            <h5 class="card-title my-3">Verified Profiles</h5>
            <p class="card-text">
              "Every profile undergoes thorough verification, ensuring
              authenticity and safety. Connect with genuine individuals for a
              trustworthy and secure matchmaking experience."
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-headset p-2 mb-2 text-light  rounded"></i>
            <h5 class="card-title my-3">Dedicated Customer Support</h5>
            <p class="card-text">
              "Our 24/7 customer support team is always ready to assist with any
              questions or issues, ensuring a smooth and satisfying experience."
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-id-card p-2 mb-2 text-white  rounded"></i>
            <h5 class="card-title my-3">In-Depth Profiles</h5>
            <p class="card-text">
              "Detailed profiles include interests, lifestyle, and background,
              helping you make informed decisions and get to know potential
              matches better."
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-lock p-2 mb-2 text-white rounded"></i>
            <h5 class="card-title my-3">Privacy and Security</h5>
            <p class="card-text">
              "We prioritize your privacy and security with robust measures and
              customizable settings, protecting your personal information and
              ensuring a safe environment."
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12 mt-4">
        <div class="card card-hover">
          <div class="card-body">
            <i class="fa fa-trophy p-2 mb-2 text-white  rounded"></i>
            <h5 class="card-title my-3">Success Stories and Tips</h5>
            <p class="card-text">
              "Read inspiring success stories and expert relationship tips to
              guide you on your journey to finding the perfect match."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
