<app-navbar></app-navbar>
<div class="container py-5 mt-5">
  <h2 class="text-center mb-4">Our Services</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="service-box">
        
        <h5>Genuine Members</h5>
        <p>
          Search by location, profession & more. Get matches on email as per
          your preferences.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Add more service boxes here -->
      <div class="service-box">
        
        <h5>Verification by Visit</h5>
        <p>
          Documents on Age, Address, Income etc. collected, Verified stamp added
          to profile.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Add more service boxes here -->
      <div class="service-box">
        
        <h5>100% Privacy</h5>
        <p>
          Control who can see your profile and pictures with advanced privacy
          settings.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-box">
        
        <h5>Genuine Members</h5>
        <p>
          Search by location, profession & more. Get matches on email as per
          your preferences.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Add more service boxes here -->
      <div class="service-box">
        
        <h5>Verification by Visit</h5>
        <p>
          Documents on Age, Address, Income etc. collected, Verified stamp added
          to profile.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Add more service boxes here -->
      <div class="service-box">
        
        <h5>100% Privacy</h5>
        <p>
          Control who can see your profile and pictures with advanced privacy
          settings.
        </p>
      </div>
    </div>
  </div>
</div>
