
body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-color: #000;
  
}


.login-container {
  align-items: center;
  max-width: 400px;
  margin: 100px auto;
  margin-top: 120px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-left: 15vw;
}
.login-container h3 {
  color: #000;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.form-group {
  margin-bottom: 20px;
}

.item{
  
  text-align: center;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  /* padding: 10px; */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #2bc4a8, #009970);
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.form-group input[type="submit"]:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}
.form-level{
  font-weight: bold;
}
/* .input-with-icon {
  position:relative;
}

.input-with-icon input {
  padding-left: 30px;
}

.input-icon {
  position: absolute;
  left: 8px; 
  top: 50%;
  transform: translateY(-50%);
} */

