<app-navbeflogin></app-navbeflogin>
<div class="container">
  <div class="login-container">
    <h2>Reset Password</h2>
    <form>
      <div class="form-group">
        <input type="password" placeholder="New password" required />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Confirm password" required />
      </div>
      <div class="form-group text">
        <input type="submit" value="Submit" routerLink="/login" routerLinkActive="active" (click)="onSubmit()" />
      </div>
      <div class="from-group item">
        <p>
          Back to
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>

