<app-navbeflogin></app-navbeflogin>
<div class="container">
  <div class="login-container">
    <h3>Reset Password</h3>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group input-with-icon">
        <label for="newPassword" class="form-level mb-2"
          ><i class="fa-solid fa-lock input-icon me-2"></i>New Password</label
        >
        <input
          formControlName="newPassword"
          type="password"
          placeholder="New password"
          class="form-control"
          required
        />
        <div
          class="text-danger mt-1"
          *ngIf="
            passwordForm.controls['newPassword'].invalid &&
            (passwordForm.controls['newPassword'].touched ||
              passwordForm.controls['newPassword'].dirty)
          "
        >
          <span
            *ngIf="passwordForm.controls['newPassword'].errors?.['required']"
            >Required</span
          >
          <span
            *ngIf="passwordForm.controls['newPassword'].errors?.['pattern']">At least 8 characters long!<br>Must contain 1 letter!<br>Must contain 1 number!<br>Must contain 1 character!</span
          >
        </div>
      </div>

      <div class="form-group input-with-icon">
        <label for="newPassword" class="form-level mb-2"
          ><i class="fa-solid fa-lock input-icon me-2"></i>Confirm
          Password</label
        >
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm password"
          class="form-control"
          required
        />
        <div class="text-danger">
          <span
            *ngIf="passwordForm.errors?.['passwordsMismatch'] && passwordForm.controls['confirmPassword'].touched"
            >Passwords do not match</span
          >
        </div>
      </div>

      <div class="form-group text mt-4">
        <input
        [disabled]="passwordForm.invalid"
          type="submit"
          value="Submit"
          (click)="onSubmit()"
        />
      </div>
      <div class="from-group item">
        <p>
          Back to
          <a
            routerLink="/login"
            routerLinkActive="active"
            style="text-decoration: none"
            >Login</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
