<app-navbar></app-navbar>
<!-- <div class="jumbotron text-center">
  <h2 class="display-4">Welcome to Our Matrimonial Website</h2>
  <p class="lead">Find your perfect match here!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="profile-card">
        <img
          src="../../../../../assets/groom1.jpg"
          alt="Groom"
          class="profile-image"
          routerLink="/matches/grooms/groom-info"
        />
        <div class="profile-name">Rahul Sharma</div>
        <div class="profile-info">Age: 30</div>
        <div class="profile-info">Location: Hyderabad</div>
        <div class="profile-info">Occupation: Software Engineer</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-card">
        <img
          src="../../../../../assets/ca276a8984f445731beef2a57a59970c.jpg"
          alt="Bride"
          class="profile-image"
          routerLink="/matches/brides/bride-info"
        />
        <div class="profile-name">Meera Sharma</div>
        <div class="profile-info">Age: 23</div>
        <div class="profile-info">Location: Pune</div>
        <div class="profile-info">Occupation: Not Working</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="profile-card">
        <img
          src="../../../../../assets/groom2.jpg"
          alt="Groom"
          class="profile-image"
        />
        <div class="profile-name">Rohit Patel</div>
        <div class="profile-info">Age: 28</div>
        <div class="profile-info">Location: Bengalur</div>
        <div class="profile-info">Occupation: Software Tester</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-card">
        <img
          src="../../../../../assets/groom3.png"
          alt="Groom"
          class="profile-image"
        />
        <div class="profile-name">Ajaya singh</div>
        <div class="profile-info">Age: 29</div>
        <div class="profile-info">Location: Pune</div>
        <div class="profile-info">Occupation: Scrum Master</div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <!-- Main Content -->
  <div class="content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <div class="card  info text-black">
            <div class="card-body">
              <h2 class="card-title">Welcome back to Jeevansathi.com</h2>
              <p>
                Remember, your journey to finding true love is unique, and we're
                committed to helping you make meaningful connections. Take your
                time, explore, and don't hesitate to reach out if you need any
                assistance.
              </p>
              <a routerLink="/matches/brides" class="btn btn-dark">Matches</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>All Matches</h4>
          <div
            class="d-flex justify-content-between align-items-center mb-2"
          ></div>
          <div class="row recommendations">
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img src="../../../../../assets/bride1.jfif" alt="Profile 1" />
                <div class="card-body text-center">
                  <h6>Surbhi Panigrahi</h6>
                  <p>20 Yrs, 5'0"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/ca276a8984f445731beef2a57a59970c.jpg"
                  alt="Profile 2"
                />
                <div class="card-body text-center">
                  <h6>Subhasmita Rath</h6>
                  <p>22 Yrs, 5'2"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img src="../../../../../assets/bride3.jfif" alt="Profile 3" />
                <div class="card-body text-center">
                  <h6>Priya Naya</h6>
                  <p>22 Yrs, 5'1"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img src="../../../../../assets/bride4.jfif" alt="Profile 4" />
                <div class="card-body text-center">
                  <h6>Baisakhi Dash</h6>
                  <p>20 Yrs, 5'3"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img src="../../../../../assets/bride5.jfif" alt="Profile 5" />
                <div class="card-body text-center">
                  <h6>Phoolarani</h6>
                  <p>22 Yrs, 5'0"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
