<app-navbar></app-navbar>

<div class="row">
  <!-- Main Content -->
  <div class="content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <div class="card text-dark" style="background-color: #ffffffab;">
            <div class="card-body">
              <h2 class="card-title">Welcome back to bandhan.com</h2>
              <p>
                Remember, your journey to finding true love is unique, and we're
                committed to helping you make meaningful connections. Take your
                time, explore, and don't hesitate to reach out if you need any
                assistance.
              </p>
              <a routerLink="/contact" class="btn">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Your Recommendations</h4>
          <div
            class="d-flex justify-content-between align-items-center mb-2"
          ></div>
          <div class="row recommendations">
            <div
              *ngFor="let user of users"
              class="col-6 col-md-4 col-lg-2 mb-3"
            >
              <a
                (click)="viewDetails(user)"
              >
                <div class="card card-hover">
                  <img
                    *ngIf="user.personalInfo?.photograph"
                    [src]="
                      'data:image/jpeg;base64,' + user.personalInfo.photograph
                    "
                    alt="Unable to load photo"
                  />
                  <div class="card-body text-center">
                    <h6>{{ user.firstName }} {{ user.lastName }}</h6>
                    <p>
                      {{ user.age }} years,
                      {{
                        user.educationCareer?.educationField || "Not working"
                      }}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- New Matches
      <div class="row">
        <div class="col">
          <h4>New Matches</h4>
          <div
            class="d-flex justify-content-between align-items-center mb-2"
          ></div>
          <div class="row recommendations">
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/female-avatar-img-new.svg"
                  alt="Profile 1"
                />
                <div class="card-body text-center">
                  <h6>Surbhi Panigrahi</h6>
                  <p>20 Yrs, 5'0"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/female-avatar-img-new.svg"
                  alt="Profile 2"
                />
                <div class="card-body text-center">
                  <h6>Subhasmita Rath</h6>
                  <p>22 Yrs, 5'2"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/female-avatar-img-new.svg"
                  alt="Profile 3"
                />
                <div class="card-body text-center">
                  <h6>Priya Naya</h6>
                  <p>22 Yrs, 5'1"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/female-avatar-img-new.svg"
                  alt="Profile 4"
                />
                <div class="card-body text-center">
                  <h6>Baisakhi Dash</h6>
                  <p>20 Yrs, 5'3"</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-3">
              <div class="card card-hover">
                <img
                  src="../../../../../assets/female-avatar-img-new.svg"
                  alt="Profile 5"
                />
                <div class="card-body text-center">
                  <h6>Phoolarani</h6>
                  <p>22 Yrs, 5'0"</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
