  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="booking-form">
          <h2 class="text-center mb-4">Location Booking</h2>
          <form>
            <div class="form-group">
              <label for="location">Select Location:</label>
              <select class="form-control" id="location">
                <option>Bhubaneswar</option>
                <option>Hydrabad</option>
                <option>Bengalur</option>
                <option>pune</option>
              </select>
            </div>
            <div class="form-group">
              <label for="date">Select Date:</label>
              <input type="date" class="form-control" id="date">
            </div>
            <div class="form-group">
              <label for="time">Select Time:</label>
              <input type="time" class="form-control" id="time">
            </div>
            <div class="form-group">
              <label for="name">Your Name:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Your Email:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <button type="submit" class="btn mt-3 btn-warning btn-block">Book Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>


