body {
  background-color: #f8f9fa;
}

.container {
  max-width: 500px;
  margin: 120px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

h5{
  text-align: center;
  font-weight: bold;
  color: #007254;
  margin-bottom: 30px;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  background: linear-gradient(45deg, #2bc4a8, #009970);
}


.btn:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}