<app-navbeflogin></app-navbeflogin>
<div class="container">
  <h5>Please Provide Your Educational Information</h5>
  <form [formGroup]="educationInfoForm" (submit) = "onSubmit()">
    <div class="form-group">
      <label for="educationLevel">Education Level:</label>
      <input type="text" class="form-control" id="educationLevel" formControlName="educationLevel" required>
    </div>
    <div class="form-group">
      <label for="educationField">Education Field:</label>
      <input type="text" class="form-control" id="educationField" formControlName="educationField" required>
    </div>
    <button type="submit" class="btn btn-primary btn-continue">Continue</button>
  </form>
</div>
