<app-navbeflogin></app-navbeflogin>
<div class="container">
  <h5>Please Provide Your Educational Information</h5>
  <form [formGroup]="educationInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="educationLevel" class="mb-2"><i class="fas fa-graduation-cap"></i> Education Level</label>
      <input
        type="text"
        class="form-control"
        placeholder="Eg: Bachelor, Masters.."
        id="educationLevel"
        formControlName="educationLevel"
        required
      />
    </div>

    <div class="form-group">
      <label for="educationField" class="mb-2"><i class="fas fa-book"></i> Education Field</label>
      <input
        type="text"
        class="form-control"
        placeholder="Eg: B.Tech, MBA, MCA.."
        id="educationField"
        formControlName="educationField"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary btn-block">Continue</button>
  </form>
</div>
