<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/692153373dbfa9ba72d5df49cffce338.jpg"
          alt="Unable to load photo"
        />
        <h5 class="card-title mt-3 mb-3">Sarita</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/96e63fb2f38dbba9c62e6221849fbd5b.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Suhani Saha</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/b3b23599209f2eb624a2714ec29b32ae.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Karisma swain</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/ca276a8984f445731beef2a57a59970c.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Sangeeta Panigrahi</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/ca276a8984f445731beef2a57a59970c.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Sangeeta Panigrahi</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/96e63fb2f38dbba9c62e6221849fbd5b.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Suhani Saha</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/692153373dbfa9ba72d5df49cffce338.jpg"
          alt="Unable to load photo"
        />
        <h5 class="card-title mt-3 mb-3">Sarita</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <img
          src="../../../assets/b3b23599209f2eb624a2714ec29b32ae.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Karisma swain</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </div>
  </div>

</div>
