
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.admin-header {
  font-weight: bold;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #abecac;
  color: #000000;
  padding: 5px;
  text-align: center;
  border:1px solid #000000;
}
.admin-container {
  margin-top: 20px;
  
}
.admin-sidebar {
  color: rgb(0, 0, 0);
  background-color: #abecac;
  border-right: 1px solid #dee2e6;
  max-height: 100%;
  width: 230px;
  border-radius: 1rem;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border:1px solid #000000;
}
.admin-main {
  margin-bottom: 20px;
  padding-left: 20px;
}

.list-group{
  width: 180px;
  
}
.btn{
  margin-top: 10px;
}

content{
  background-color: aliceblue;
}


