<!-- Admin Navbar -->

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand me-auto"
      >
      <!-- <i class="fas fa-user-friends text me-3"></i> -->
      <img src="../../../../../assets/logo2.png" alt="" class="logo">
        <span class="bandhan ms-2"> Bandhan</span>
      </a
    >
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-lg-2"><h3>Welcome to Admin Panel</h3></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown login-button text-white">
      <a
        class="dropdown-toggle profile"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item logout" (click)="onLogout()" 
          ><i class="fas fa-sign-out text fa-sm me-2"></i>Logout</a
        >
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid admin-container">
  <div class="row">
    <!-- Admin Sidebar -->
    <div class="col-md-3 admin-sidebar mb-5">
      <h4 style="font-weight: bold" class="mb-4">
        Control Pannel
        <hr />
      </h4>

      <ul class="list-group">
        <button
          type="button"
          class="btn btn-outline-dark"
          routerLink="admin/dashboard"
          [ngClass]="{'active': selectedButton === 1}" 
            (click)="selectButton(1)"
        >
          <i class="fas fa-columns text fa-sm me-2"></i>Dashboard
        </button>

        <button
          type="button"
          class="btn btn-outline-dark"
          routerLink="admin/contact-report"
          [ngClass]="{'active': selectedButton === 2}" 
            (click)="selectButton(2)"
        >
          <i class="fas fa-phone text fa-sm me-2"></i>Contact Report
        </button>
        <!-- <button
          type="button"
          class="btn btn-outline-dark"
          routerLink="admin/regd-report"
          [ngClass]="{'active': selectedButton === 3}" 
            (click)="selectButton(3)"
        >
          <i class="fas fa-book text fa-sm me-2"></i>Registrations
        </button> -->
        <button
          type="button"
          class="btn btn-outline-dark"
          routerLink="admin/user-management"
          [ngClass]="{'active': selectedButton === 4}" 
            (click)="selectButton(4)"
        >
          <i class="fas fa-user text fa-sm me-2"></i>Manage Users
        </button>
      </ul>
    </div>

    <!-- Admin Main Content -->
    <div class="col-md-9 admin-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
