<app-navbar></app-navbar>
<!-- Admin Header -->
<div class="admin-header">
  <h2>Welcome to Admin Panel</h2>
</div>

<div class="container-fluid admin-container">
  <div class="row">
    <!-- Admin Sidebar -->
    <div class="col-md-3 admin-sidebar mb-4">
      <h4 style="font-weight: bold" class="mb-4">
        Control Pannel
        <hr />
      </h4>

      <ul class="list-group">
        <button type="button" class="btn btn-success" routerLink="admin/dashboard">Dashboard</button>
        <button type="button" class="btn btn-success" routerLink="admin/user-management">Users Management</button>
        <button type="button" class="btn btn-success" routerLink="admin/contact-report">Contact Report</button>
        <button type="button" class="btn btn-success" routerLink="admin/regd-report">
          Registration Report
        </button>
      </ul>
    </div>

    <!-- Admin Main Content -->
    <div class="col-md-9 admin-main">
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
