.navbar {
  
  /* backdrop-filter: blur(5px); */
    /* padding: 0.5rem; */
    background-color: #fff;
  border-bottom: 1px solid black;
}


.navbar-brand {
  font-weight: bolder;
  color: #000000;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background: linear-gradient(45deg, #2bc4a8, #009970);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  background-color: #009970;
  border-radius: 3rem;
  margin-left: 15px;
}

.navbar-toggler:hover {
  background-color: #01b887;
}

.offcanvas-header {
  color: #009970;
  background-color: white;
}

.btn-close {
  color: rgb(0, 0, 0);
  background-color: #009970;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000000;
  font-weight: bold;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #009970;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.1s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Show dropdown menu when parent is hovered or focused */
.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block;
}

/* Dropdown Items */
.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

/* Hover effect for dropdown items */
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #009970;
}

/* Active state for dropdown items */
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #009970;
}

/* Divider Line */
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
