.navbar {
  background-color: rgb(30, 10, 76);
  box-shadow: 0 4px 6px rgba(139, 139, 139, 0.44);
  border-bottom: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  /* border-bottom: 1px solid black; */
}

.logo{
  max-height: 50px;
  max-width: 45px;
}

.bandhan {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: #ffd000;
}
.navbar-brand {
  font-weight: bolder;
  color: #000000;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background: linear-gradient(45deg, #ffd700, #d77431);
  color: #faffb1;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background: linear-gradient(45deg, #d77431, #ffd700);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  background: linear-gradient(45deg, #ffd700, #d77431);
  border-radius: 3rem;
  margin-left: 15px;
}

.navbar-toggler:hover {
  background: linear-gradient(45deg, #d77431, #ffd700);
}

.offcanvas-header {
  color: #ffffff;
  background-color: rgb(30, 10, 76);
}

.offcanvas-body{
  color: #ffffff;
  background-color: rgb(30, 10, 76);
}

.btn-close {
  color: rgb(255, 255, 255);
  background-color: rgb(219, 216, 53);
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: white;
  font-weight: bold;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #ffd700;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #ffd700;
    visibility: hidden;
    transition: 0.1s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}