<div class="container">
  <h5>Please Provide Your Family Information</h5>
  <form [formGroup]="familyInfoForm">
    <div class="form-group">
      <label for="familyStatus">Family Status:</label>
      <input type="text" class="form-control" id="familyStatus" formControlName="familyStatus" required>
    </div>
    <div class="form-group">
      <label for="familyType">Family Type:</label>
      <input type="text" class="form-control" id="familyType" formControlName="familyType" required>
    </div>
    <div class="form-group">
      <label for="familyName">Family Name:</label>
      <input type="text" class="form-control" id="familyName" formControlName="familyName" required>
    </div>
    <button type="submit" class="btn btn-success btn-continue" routerLink="/matches" routerLinkActive="active">Continue</button>
  </form>
</div>
