
<section class="hero-section">
  <div
    class="container d-flex align-items-center justify-content-center fs-1 text-black flex-column"
  >
    <h1>Find Your Perfect Match !!</h1>
    <p>Join thousands of happy couples who met through our website.</p>

    <div class="hero-content">
      <button
        class="btn btn-success btn-lg btn-block mt-4 me-4"
        routerLink="/login"
        routerLinkActive="active"
      >
        Sign in
      </button>

      <button
        class="btn btn-success btn-lg btn-block ms-4 mt-4"
        routerLink="/signup"
        routerLinkActive="active"
      >
        Sign Up
      </button>
    </div>
  </div>
</section>