<div class="user">
  <h3>Users Management</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>R_Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let regd of regdData">
        <td>{{ regd.rid }}</td>
        <td>{{ regd.userName }}</td>
        <td>{{ regd.email }}</td>

        <td>
          <!-- <button class="btn btn-success me-3">
            <i class="fas fa-edit"></i>
          </button> -->
          <button class="btn btn-danger" (click)="deleteUser($event, regd.rid)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
