<div class="user">
  <h3>Users Management</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>R_Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>

        <td>
          <button class="btn btn-success">Info</button>
          &nbsp;&nbsp;<button class="btn btn-info">Edit</button>
          &nbsp;&nbsp;<button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
