
  <div class="container">
    <div class="login-container">
      <h2>Login</h2>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Username" required />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" required />
        </div>
        <div class="form-group text">
          <input type="submit" value="Login"  />
        </div>
        <div class="from-group mb-2">
          <a routerLink="/forgot" routerLinkActive="active">forgot password?</a>
        </div>
        <div class="from-group">
          <p>
            Need an Account?
            <a routerLink="/signup" routerLinkActive="active">Sign up</a>
          </p>
        </div>
      </form>
    </div>
  </div>

