<!-- <app-navbar></app-navbar>
<div class="user">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Messages from Admin</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td class="text-center">{{ message.message }}</td>
        <td>-- -- --</td>
        
        <td>
          <button type="button" class="btn btn-success me-2" (click)="onClick()" [disabled]="isDisabled">{{ buttonText }}
            <i class="fa-solid fa-check"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="notification-box">
  <div *ngFor="let message of messages">
    <p><strong>Admin : </strong>{{ message.message }}</p>
  </div>
  <button class="text-center btn" (click)="closeNotificationBox()">
    <i class="fas fa-close"></i>
  </button>
</div>