<div class="container">
  <h5>Please Provide us with your User Info</h5>
  <form id="userInfoForm">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" required>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" required>
    </div>
    <button type="submit" class="btn btn-primary btn-continue" routerLink="/personal-info" routerLinkActive="active">Continue</button>
  </form>
</div>
