<app-navbar></app-navbar>
<div class="user">
  <h3>Candidates Appointment scheduled list</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of filteredMessages">
        <td>{{ message.name }}</td>
        <td>{{ message.email }}</td>
        <td>{{ message.location }}</td>
        <td>{{ message.date }}</td>
        <td>{{ message.time }}</td>
        <td>
          <button type="button" class="btn btn-danger me-2" (click)="onClick()" [disabled]="isDisabled">{{ buttonText }}
            <i class="fa-reply fas"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
