<app-navbar></app-navbar>
<div class="user">
  <h3>Interesed Candidates</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vikram Pathi</td>
        <td>vikramgmail.com</td>
        <td>Hyderabad</td>
        <td>12/6/2024</td>
        <td>4:00 PM</td>
        <td>
          <button type="button" class="btn btn-success me-2">Approve
            <i class="fa-solid fa-check"></i>
          </button>
          <button type="button" class="btn btn-danger">Reject
            <i class="fa-solid fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
