.navbar {
  background-color:rgba(255, 255, 255, 0.599); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  border-bottom: 1px solid black;
  /* padding: 0%; */
}

.logo{
  max-height: 50px;
  max-width: 45px;
}
.navbar-brand {
  font-weight: bolder;
  color: #000000;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background: linear-gradient(45deg, #2bc4a8, #009970);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.login-button:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  background: linear-gradient(45deg, #2bc4a8, #009970);
  border-radius: 3rem;
  margin-left: 15px;
}

.navbar-toggler:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}

.offcanvas-header {
  color: #198754;
  background-color: white;
}

.btn-close {
  color: rgb(0, 0, 0);
  background-color: #198754;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #000000;
  font-weight: bold;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #198754;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #198754;
    visibility: hidden;
    transition: 0.1s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.btn {
  font-weight: bold;
  background: linear-gradient(45deg, #2bc4a8, #009970);
}

.btn:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}

/* for home page */

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.bandhan{
  /* font-family: "Dancing Script", cursive; */
  font-weight: bold;
  /* font-size: 30px; */
}
.border{
  /* max-height: 60px; */
  /* background-color: azure; */
  padding: 28px;
}
.carousel-item img {
  width: 100%;
  height: 90vh;
}

.about {
  padding-top: 100px;
  background-color: white;
}
.about-img img {
  width: 60%;
  height: 60vh;

  border-radius: 1rem;
  border: 1px solid black;
}

.card-body img {
  min-width: 70%;
  max-height: 40vh;
}

.card-hover {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-form {
  max-width: 70%;
  margin: auto;
}
