<app-login-navbar></app-login-navbar>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-picture">
          <img src="../../assets/groom3.png" alt="Profile Picture">
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-details">
          <h3>Narendra Modi</h3>
          <ul>
            <li><strong>Nick name:</strong> None</li>
            <li><strong>Email:</strong> johndoeexample.com</li>
            <li><strong>Mobile:</strong> +1234567890</li>
            <li><strong>Age:</strong> 30</li>
            <li><strong>Date of Birth:</strong> January 1, 1990</li>
            <li><strong>Educational Career:</strong> Bachelor's in Engineering</li>
            <li><strong>Family Status:</strong> Single</li>
            <li><strong>Income:</strong> $50,000 per annum</li>
            <li><strong>Blood Group:</strong> A+</li>
            <!-- Add more details as needed -->
          </ul>
        </div>
      </div>
    </div>
  </div>
