.profile-picture {
    text-align: center;
  }
  
  .profile-picture img {
    max-width: 100%;
    height: auto;
  }
  
  .profile-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-details ul li {
    margin-bottom: 10px;
  }
  
  .container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }