<app-navbar></app-navbar>
<div class="container" [formGroup]="userForm">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="signup-form">
        <h2 class="text-center">Sign Up</h2>
        <!-- <form> -->
        <form (submit)="onSubmit($event)">
          <div class="mb-3">
            <label for="name" class="form-label">Enter Username</label>
            <input
              formControlName="username"
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              required
            />
            <div
              class="text-danger"
              *ngIf="
                userForm.controls['name'].invalid &&
                (userForm.controls['name'].touched ||
                  userForm.controls['name'].dirty)
              "
            >
              <span *ngIf="userForm.controls['username'].errors?.['required']"
                >Required</span
              >
              <span *ngIf="userForm.controls['username'].errors?.['minlength']"
                >Minmum two character</span
              >
            </div>
          </div>
          <!-- <div class="mb-3">
            <label for="address" class="form-label">Enter your address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder=""
              required
              formControlName="address"
            />
            <div class="text-danger" *ngIf="userForm.controls['address'].invalid && (userForm.controls['address'].touched || userForm.controls['address'].dirty)">
              <span *ngIf="userForm.controls['address'].errors?.['required']">Required</span>
          </div>
          </div> -->
          <div class="mb-3">
            <label for="password" class="form-label"
              >Create your Password</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Your Password"
              required
              formControlName="password"
            />
            <div
              class="text-danger"
              *ngIf="
                userForm.controls['password'].invalid &&
                (userForm.controls['password'].touched ||
                  userForm.controls['password'].dirty)
              "
            >
              <span *ngIf="userForm.controls['password'].errors?.['required']"
                >Required</span
              >
              <span *ngIf="userForm.controls['password'].errors?.['minlength']"
                >Minimum 8 character</span
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Enter your email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="abc@gmail.com"
              required
              formControlName="mailId"
            />
            <div
              class="text-danger"
              *ngIf="
                userForm.controls['mailId'].invalid &&
                (userForm.controls['mailId'].touched ||
                  userForm.controls['mailId'].dirty)
              "
            >
              <span *ngIf="userForm.controls['mailId'].errors?.['required']"
                >Required</span
              >
              <span *ngIf="userForm.controls['mailId'].errors?.['email']"
                >Enter with proper formate</span
              >
            </div>
          </div>
          <!-- <div class="mb-3">
            <label for="mobile" class="form-label">Enter your mobile no</label>
            <input
              type="tel"
              class="form-control"
              id="mobile"
              placeholder="Mobile Number"
              required
              formControlName="mobileNumber"
            />
            <div
              class="text-danger"
              *ngIf="
                userForm.controls['mobileNumber'].invalid &&
                (userForm.controls['mobileNumber'].touched ||
                  userForm.controls['mobileNumber'].dirty)
              "
            >
              <span
                *ngIf="userForm.controls['mobileNumber'].errors?.['required']"
                >Required</span
              >
              <span
                *ngIf="userForm.controls['mobileNumber'].errors?.['pattern']"
                >Please Enter in 10 Digits</span
              >
            </div>
          </div> -->
          <!-- <div class="mb-3">
            <label for="guests" class="form-label">Enter no of guests</label>
            <input
              type="number"
              class="form-control"
              id="guests"
              min="1"
							placeholder="Eg - 10, 20"
              required
              formControlName="guestNo"
            />
          </div> -->
          <!-- <div class="mb-3">
            <label for="date" class="form-label">Enter date of function</label>
            <input type="date" class="form-control" id="date" required
            formControlName="date"
             />
          </div> -->

          <button
            type="submit"
            class="btn btn-success btn-block"
            
          >
            Continue to Sign Up
          </button>
          <div class="mt-3 text-center">
            <p>
              Already have an Account?
              <a routerLink="/login" routerLinkActive="active">Login</a>
            </p>
          </div>
        </form>
        <!-- <hr />
        <p class="text-center">Or sign up with:</p>
        <div class="text-center">
          <a href="#" class="btn btn-google me-2">G</a>
          <a href="#" class="btn btn-facebook ms-2">Facebook</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
