<div class="container">
  <h5>Please Provide Your Personal Information</h5>
  <form [formGroup]="personalInfoForm">
    <div class="form-group">
      <label for="educationLevel">Education Level:</label>
      <input type="text" class="form-control" id="educationLevel" formControlName="educationLevel" required>
    </div>
    <div class="form-group">
      <label for="educationField">Education Field:</label>
      <input type="text" class="form-control" id="educationField" formControlName="educationField" required>
    </div>
    <button type="button" class="btn btn-primary btn-continue" routerLink="/family-info" (click)="onContinue()">Continue</button>
  </form>
</div>
