<!-- <app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom1.jpg" alt="Unable to load photo" />
          <h5 class="card-title mt-3 mb-3">Rahul Sharma</h5>
          <p class="card-text">26 years, Software Engineer</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom2.jpg" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Rohit Sharma</h5>
          <p class="card-text">27 years, Doctor</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom3.png" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Ajaya Singh</h5>
          <p class="card-text">28 years, Scrum Master</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom1.jpg" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Ankit Gupta</h5>
          <p class="card-text">29 years, CA</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom2.jpg" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Manoj Kumar</h5>
          <p class="card-text">30 years, Trainer</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom3.png" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Bikram Singh</h5>
          <p class="card-text">31 years, Team Lead</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom1.jpg" alt="Unable to load photo" />
          <h5 class="card-title mt-3 mb-3">Anil Dalei</h5>
          <p class="card-text">24 years, CISF (Defence)</p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <a routerLink="/matches/grooms/groom-info">
        <div class="card item-card card-block">
          <img src="../../assets/groom2.jpg" alt="Photo of sunset" />
          <h5 class="card-title mt-3 mb-3">Harish Rana</h5>
          <p class="card-text">28 years, Data Scientist </p>
        </div>
      </a>
    </div>
  </div>
</div> -->

<app-navbar></app-navbar> 
<div class="container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-3 col-sm-6 item">
      <a (click)="viewDetails(user)">
        <div class="card item-card card-block">
          <img
            *ngIf="user.personalInfo?.photograph"
            [src]="'data:image/jpeg;base64,' + user.personalInfo.photograph"
            alt="Unable to load photo"
          />
          <h5 class="card-title mt-3 mb-3">
            {{ user.firstName }} {{ user.lastName }}
          </h5>
          <p class="card-text">{{ user.age }} years, {{ user.educationCareer?.educationField || 'Not working' }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
