<app-login-navbar></app-login-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
          src="../../assets/groom1.jpg"
          alt="Unable to load photo"
        />
        <h5 class="card-title mt-3 mb-3">Sarita</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom2.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Suhani Saha</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
            src="../../assets/groom3.png"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Karisma swain</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom1.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Sangeeta Panigrahi</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom2.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Sangeeta Panigrahi</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom3.png"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Suhani Saha</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 item">
      <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom1.jpg"
          alt="Unable to load photo"
        />
        <h5 class="card-title mt-3 mb-3">Sarita</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-6 item">
        <a routerLink="/groom/groom-info" >
      <div class="card item-card card-block">
        <img
        src="../../assets/groom2.jpg"
          alt="Photo of sunset"
        />
        <h5 class="card-title mt-3 mb-3">Karisma swain</h5>
        <p class="card-text">
          22 yrs • 5'0" • Brahmin - Panda • B.A. • Not Working • Kendrapara
        </p>
      </div>
    </a>
    </div>
  </div>

</div>
