.container {
  max-width: 400px;
  margin: 100px auto;
  margin-top: 150px;
  margin-left: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.text-center {
  width: 350px;
}

.btn {
  font-weight: bold;
  background: linear-gradient(45deg, #2bc4a8, #009970);
}

.btn:hover {
  background: linear-gradient(45deg, #009970, #2bc4a8);
}

.form-level {
  font-weight: bold;
}

/* .input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-left: 30px; 
}

.input-icon {
  position: absolute;
  left: 8px;
  top: 55%;
  transform: translateY(-50%);
} */
